<div ng-repeat="produto in carrinho " >
	{{produto.id + '-' + produto.nome}}
	{{produto.preco}}
	{{produto.quantidade*produto.preco}}
	<div ng-model="totalDaCompra"  ></div>	
	{{produto.subTotal=produto.quantidade*produto.preco+totalDaCompra}}
	{{totalDaCompra}}<span ng-bind="totalDaCompra"></span>
	
	<p class="teal-text">
		Quantidade:<input type="text" name="quantidade" ng-blur="calcularTotal()"
			ng-model=produto.quantidade required style="display: inline-block;" />
			
			
			<a
			href="#!" class="secondary-content"
			ng-click="removerItemCarrinho($index)"> <i class="material-icons">delete</i></a>
<!-- 			<input type="text" name="subTotal" ng-change=calcularTotal(prod.quantidade)  -->
<!-- 			ng-model=produto.subTotal required style="display: inline-block;" /> -->
<!-- 			{{produto.subTotal}} -->
			
</div>
<!-- <div > -->
<!-- <button class="btn waves-effect waves-light" type="submit" -->
<!-- 					name="action" ng-href="/login" ng-click="adicionarQuantProduto(produtoSelecionado)"> -->
<!-- 					Continuar <i class="material-icons right">send</i> -->
<!-- 			</button> -->
<!-- 			</div>	 -->