<div class="container">
	
	<table class="responsive-table">
        <thead>
          <tr>
              <th data-field="id">Item</th>
              <th data-field="name">Preço</th>
              <th data-field="price">Subtotal</th>
              <th>Quantidade</th>
             
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="produto in carrinho">
            <td>{{produto.nome}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.quantidade*produto.preco}}</td>
        	
	        	<td  style="width:10%;">
			<input type="number" name="quantidade" 
				ng-change="calcularACompra()" ng-model=produto.quantidade required
				style="display: inline-block;" /> <a href="#!"
				class="secondary-content" ng-click="removerItemCarrinho($index)">
				<i class="material-icons">delete</i></a></td>
			
          </tr>
 		
        </tbody>
      </table> 
	


	
		
</div>
<div>
Frete: {{valorDoFrete}}
Total:{{valorTotal}}</div>
<div>
	<button class="btn waves-effect waves-light" type="submit"
		name="action" ng-click="verificarQuantidadeDisponivel()">
		Continuar <i class="material-icons right">send</i>
	</button>
</div>
