<style>
	fieldset{
		display:inline;
	}
</style>
<div class="row">
	<form class="col s12" novalidate name="frmAssociado">
		<div class="row">
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">account_circle</i>
			 	<input id="icon_prefix" class="validate" type="text" name="txtNome" ng-model="associado.nomeAssc" required /> 
				<label for="icon_prefix">Nome Completo</label> 
				<span ng-show="frmAssociado.txtNome.$error.required && frmAssociado.txtNome.$dirty">Nome Obrigatório!</span> 
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">email</i>
			 	<input id="icon_email" class="validate" type="email" name="email" ng-model="associado.emailAssc" required /> 
				<label for="icon_email">Email</label> 
				<span ng-show="frmAssociado.email.$error.required && frmAssociado.email.$dirty">Email Obrigatório</span> 
				<span ng-show="frmAssociado.txtEmail.$error.email">Email Inválido!</span>
			</div>
	 	</div>
		<div> 
		<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="salvarAssociado()">Salvar
   		 <i class="material-icons center">send</i> </button>
   		 <button class="btn waves-effect waves-light" type="cancel" name="action" ng-click="cancelar()" ng-disabled= "frmAssociado.$invalid" >Limpar
   		 <i class="material-icons center">cancel</i> </button>
<!-- 			<input type="button" value="Salvar"  ng-click="salvarAssociado()"  /> -->
<!-- 			<input type="button" value="Limpar"  ng-click="cancelar()" ng-disabled= "frmAssociado.$invalid" /> -->
		</div>
	</form>

</div>