<style>
	fieldset{
		display:inline;
	}
</style>
<div>
	<form novalidate name="frmAtendente">
		<div>
			<label>Nome:</label> <input type="text" name="txtNome" ng-maxlength="30" ng-model="atendente.nomeAtend" required /> 
			<span ng-show="frmAtendente.txtNome.$error.required && frmAtendente.txtNome.$dirty">Nome Obrigatório!</span> 
			<span ng-show="frmAtendente.txtNome.$error.maxlength">Nome muito grande!</span>	
		</div>
		<div>
			<label>Data de Nascimento:</label> <input type="date" name="dtData" ng-maxlength="8" ng-minlength="8" ng-model="atendente.dataNascAtend" required /> 
			<span ng-show="frmAtendente.dtData.$error.required && frmAtendente.dtData.$dirty">Data Obrigatória!</span> 
			<span ng-show="frmAtendente.dtData.$error.minlength">Data pequena!</span>
			<span ng-show="frmAtendente.dtData.$error.maxlength">Data grande!</span>
		</div>
		<div>
			<label>CPF:</label> <input type="number" name="numCpf" ng-minlength="11" ng-maxlength="11" ng-model="atendente.cpfAtend" required /> 
			<span ng-show="frmAtendente.numCpf.$error.required && frmAtendente.numCpf.$dirty">Cpf Obrigatório!</span> 
			<span ng-show="frmAtendente.numCpf.$error.maxlength">Cpf muito grande!</span>
			<span ng-show="frmAtendente.numCpf.$error.minlength">Cpf muito pequeno!</span>
		</div>
		<div>
			<label>RG:</label> <input type="number" name="numRg" ng-minlength="9" ng-maxlength="9" ng-model="atendente.rgAtend" required /> 
			<span ng-show="frmAtendente.numRg.$error.required && frmAtendente.numRg.$dirty">RG Obrigatório!</span> 
			<span ng-show="frmAtendente.numRg.$error.maxlength">RG muito grande!</span>
			<span ng-show="frmAtendente.numRg.$error.minlength">RG muito pequeno!</span>
		</div>
		<div>
			<label>Telefone Fixo:</label> <input type="tel" name="numTel" ng-maxlength="10" ng-minlength="10" ng-model="atendente.telAtend" required />
			 <span ng-show="frmAtendente.numTel.$error.required && frmAtendente.numTel.$dirty">Telefone Obrigatório!</span> 
			 <span ng-show="frmAtendente.numTel.$error.minlength">Número de telefone muito pequeno!</span>
			 <span ng-show="frmAtendente.numTel.$error.maxlength">Número de telefone muito grande!</span>
		</div>
		<div>
			<label>Celular:</label> <input type="tel" name="numCel"ng-minlength="10" ng-maxlength="11" ng-model="atendente.celAtend" required />
			<span ng-show="frmAtendente.numCel.$error.required && frmAtendente.numCel.$dirty">Celular Obrigatório</span> 
			<span ng-show="frmAtendente.numCel.$error.minlength">Número de celular muito pequeno!</span> 
			<span ng-show="frmAtendente.numCel.$error.maxlength">Número de celular muito grande!</span>
		</div>
		<div>
			<label>Email:</label> <input type="email" name="email"ng-minlength="10" ng-maxlength="11" ng-model="atendente.emailAtend"required /> 
			<span ng-show="frmAtendente.email.$error.required && frmAtendente.email.$dirty">Email Obrigatório</span> 
			<span ng-show="frmAtendente.email.$error.maxlength">Email muito grande!</span>
			<span ng-show="frmAtendente.txtEmail.$error.email">Email Inválido!</span>
		</div>
		<div>
			<label>Data de Cadastro:</label> <input type="date" name="dtCad"ng-minlength="8" ng-model="atendente.dataCadAtend" required /> 
			<span ng-show= "frmAtendente.dtCad.$error.required && frmAtendente.dtCad.$dirty">Data de Cadastro Obrigatória!</span> 
			<span ng-show="frmAtendente.dtCad.$error.minlength">Data muito pequena!</span>
		</div>
		<div>
			<label>Endereço de Trabalho:</label> 
			<label>Rua:</label> <input type="text"name="txtRua" ng-maxlength="50" ng-model="atendente.endereco.rua" required /> 
			<span ng-show="frmAtendente.txtRua.$error.required && frmAtendente.txtRua.$dirty">Nome de rua Obrigatória!</span> 
			<span ng-show="frmAtendente.txtRua.$error.maxlength">Nome de rua muito grande!</span>
		</div>
		<div>
			<label>Número:</label> <input type="number" name="numEstb"ng-maxlength="5" ng-model="atendente.endereco.numero" required />
			<span ng-show="frmAtendente.numEstb.$error.required && frmAtendente.numEstb.$dirty">Número Obrigatório!</span> 
			<span ng-show="frmAtendente.numEstb.$error.maxlength">Número muito Grande!</span>
		</div>
		<div>
			<label>Cidade:</label> <input type="text" name="txtCid" ng-maxlength="15" ng-model="atendente.endereco.cidade" required />
			<span ng-show="frmAtendente.txtCid.$error.required && frmAtendente.txtCid.$dirty">Cidade Obrigatória!</span> 
			<span ng-show="frmAtendente.txtCid.$error.maxlength">Nome de cidade muito grande!</span>

		</div>
		<div>
			<label>Bairro:</label> <input type="text" name="txtBairro" ng-maxlength="15" ng-model="atendente.endereco.bairro" required />
			<span ng-show="frmAtendente.txtBairro.$error.required && frmAtendente.txtBairro.$dirty">Bairro Obrigatório!</span> 
			<span ng-show="frmAtendente.txtBairro.$error.maxlength">Nome de Bairro muito grande!</span>

		</div>
		<div>
			<label>Estado:</label> <input type="text" name="txtEst" ng-minlength="2" ng-maxlength="2" ng-model="atendente.endereco.uf" required /> 
			<span ng-show="frmAtendente.txtEst.$error.required && frmAtendente.txtEst.$dirty">Estado Obrigatório!</span> 
			<span ng-show="frmAtendente.txtEst.$error.minlength">Muito Pequeno!</span> 
			<span ng-show="frmAtendente.txtEst.$error.maxlength">Muito Grande! Apenas 2 letras.</span>
		</div>
		<div>
			<label>Cep:</label> <input type="number" name="numCep" ng-minlength="8" ng-maxlength="8" ng-model="atendente.endereco.cep" required /> 
			<span ng-show="frmAtendente.numCep.$error.required && frmAtendente.numCep.$dirty">Cep Obrigatório!</span> 
			<span ng-show="frmAtendente.numCep.$error.minlength">Muito Pequeno!</span> 
			<span ng-show="frmAtendente.numCep.$error.maxlength">Muito Grande! </span>
		</div>
		<div>
			<label>Login:</label> <input type="text" name="txtLogin" ng-minlength="6" ng-maxlength="10" ng-model="usuario.login" required />
			<span ng-show="frmUsuario.txtLogin.$error.required && frmUsuario.txtLogin.$dirty">Login Obrigatorio</span>
		</div>
		<div>
			<label>Senha:</label> <input type="password" name="passSenha" ng-minlength="8" ng-maxlength="20" ng-model="usuario.senha" required />
			<span ng-show="frmUsuario.passSenha.$error.required && frmUsuario.passSenha.$dirty">Senha Obrigatória</span> 
			<span ng-show="frmUsuario.passSenha.$error.minlength">Senha pequena!</span>
		</div>
		<div>
		<label>Perfil:</label> 
			<select ng-model="atendente.perfil.id"ng-controller="perfilController">
				<option  ng-repeat="e in perfis" ng-value="e.id"> {{e.descricao}}</option>
			</select>
			<input type="button" value="Salvar"  ng-click="salvarAtendente()"  />
			<input type="button" value="Limpar"  ng-click="cancelar()" ng-disabled= "frmAtendente.$invalid" />
		</div>
		<div ng-repeat="atend in atendentes">
		{{atend.id + '-'+ atend.nome}} <input type="button" value="excluir"
			ng-click="excluirAtendente(atend)" /> <input type="button"
			value="Alterar" ng-click="preparaAlterar(atend)" /> 
			<a href="atendentes/{{atend.id}}">Detalhes dos Atendentes</a>

	</div>
	
	</form>



</div>