<head>
<meta charset="UTF-8" />

</head>
<style>
	fieldset{
		display:inline;
	}

</style>
<div class="row">
	<form class= "col s12" novalidate name="frmCliente">
		<div class="row">
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">account_circle</i>
			 	<input id="icon_prefix" class="validate" type="text" name="txtNome" ng-maxlength="30" ng-model="cliente.nomeAtend" required />
				<label for="icon_prefix">Nome Completo</label>  
				<span ng-show="frmCliente.txtNome.$error.required && frmCliente.txtNome.$dirty">Nome Obrigatório!</span> 
				<span ng-show="frmCliente.txtNome.$error.maxlength">Nome muito grande!</span>	
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">today</i> 
				<input id="icon_today" class="validate" type="text" name="dtData" ng-model="cliente.dataNascAtend" required />
				<label for="icon_today">Data de Nascimento</label>  
				<span ng-show="frmCliente.dtData.$error.required && frmCliente.dtData.$dirty">Data Obrigatória!</span> 
			
			</div>
		</div>	
		<div class="row">
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">assignment_ind</i>
			 	<input id="icon_assignment_ind" class="validate" type="text" name="numCpf" ng-minlength="11" ng-maxlength="11" ng-model="cliente.cpfAtend" required /> 
				<label for="icon_assignment_ind">CPF</label> 
				<span ng-show="frmCliente.numCpf.$error.required && frmCliente.numCpf.$dirty">Cpf Obrigatório!</span> 
				<span ng-show="frmCliente.numCpf.$error.maxlength">Cpf muito grande!</span>
				<span ng-show="frmCliente.numCpf.$error.minlength">Cpf muito pequeno!</span>
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">face</i>
			 	<input id="icon_face" class="validate" type="text" name="numRg" ng-minlength="9" ng-maxlength="9" ng-model="cliente.rgAtend" required /> 
				<label for="icon_face">RG</label> 
				<span ng-show="frmCliente.numRg.$error.required && frmCliente.numRg.$dirty">RG Obrigatório!</span> 
				<span ng-show="frmCliente.numRg.$error.maxlength">RG muito grande!</span>
				<span ng-show="frmCliente.numRg.$error.minlength">RG muito pequeno!</span>
			</div>
		</div>	
		<div class="row">
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">phone</i>
			 	<input id="icon_telephone" class="validate" type="tel" name="numTel" ng-maxlength="10" ng-minlength="10" ng-model="cliente.telAtend" required />
				<label for="icon_telephone">Telefone</label> 
			 	<span ng-show="frmCliente.numTel.$error.required && frmCliente.numTel.$dirty">Telefone Obrigatório!</span> 
			 	<span ng-show="frmCliente.numTel.$error.minlength">Número de telefone muito pequeno!</span>
			 	<span ng-show="frmCliente.numTel.$error.maxlength">Número de telefone muito grande!</span>
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">stay_current_portrait</i>
			 	<input id="icon_stay_current_portrait" class="validate" type="tel" name="numCel"ng-minlength="10" ng-maxlength="11" ng-model="cliente.celAtend" required />
				<label for="icon_stay_current_portrait">Celular</label> 
				<span ng-show="frmCliente.numCel.$error.required && frmCliente.numCel.$dirty">Celular Obrigatório</span> 
				<span ng-show="frmCliente.numCel.$error.minlength">Número de celular muito pequeno!</span> 
				<span ng-show="frmCliente.numCel.$error.maxlength">Número de celular muito grande!</span>
			</div>
		</div>	
		<div class="row">
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">email</i>
			 	<input id="icon_email" class="validate" type="email" name="email" ng-model="cliente.emailAtend" required /> 
				<label for="icon_email">Email</label> 
				<span ng-show="frmCliente.email.$error.required && frmCliente.email.$dirty">Email Obrigatório</span> 
				<span ng-show="frmCliente.txtEmail.$error.email">Email Inválido!</span>
			 <div class="input-field col s6">
			 	<i class="material-icons prefix">my_location</i>
			 	<input id="icon_my_location" class="validate" type="text" name="txtRua" ng-maxlength="50" ng-model="cliente.endereco.rua" required /> 
			 	<label for="icon_my_location">Endereço</label> 
				<span ng-show="frmCliente.txtRua.$error.required && frmCliente.txtRua.$dirty">Nome de rua Obrigatória!</span> 
				<span ng-show="frmCliente.txtRua.$error.maxlength">Nome de rua muito grande!</span>
			</div>
		</div>
		<div class="row">	
			<div class="input-field col s6">
			 	<i class="material-icons prefix">toc</i>
			 	<input id="icon_toc" class="validate" type="text" name="numEstb"ng-maxlength="5" ng-model="cliente.endereco.numero" required />
				<label for="icon_toc">Número</label> 
				<span ng-show="frmCliente.numEstb.$error.required && frmCliente.numEstb.$dirty">Número Obrigatório!</span> 
				<span ng-show="frmCliente.numEstb.$error.maxlength">Número muito Grande!</span>
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">location_on</i>
			 	<input id="icon_location_on" class="validate" type="text" name="txtCid" ng-maxlength="15" ng-model="cliente.endereco.cidade" required />
				<label for="icon_location_on">Cidade</label> 
				<span ng-show="frmCliente.txtCid.$error.required && frmCliente.txtCid.$dirty">Cidade Obrigatória!</span> 
				<span ng-show="frmCliente.txtCid.$error.maxlength">Nome de cidade muito grande!</span>
			</div>
		</div>
		<div class="row">	
			<div class="input-field col s6">
			 	<i class="material-icons prefix">trending_down</i>
			 	<input id="icon_trending_down" class="validate" type="text" name="txtBairro" ng-model="cliente.endereco.bairro" required />
				<label for="icon_trendind_down">Bairro</label> 
				<span ng-show="frmCliente.txtBairro.$error.required && frmCliente.txtBairro.$dirty">Bairro Obrigatório!</span> 		
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">sort_by_alpha</i>
			 	<input id="icon_sort_by_alpha" class="validate" type="text" name="txtEst" ng-minlength="2" ng-maxlength="2" ng-model="cliente.endereco.uf" required /> 
				<label for="icon_sort_by_alpha">Estado</label> 
				<span ng-show="frmCliente.txtEst.$error.required && frmCliente.txtEst.$dirty">Estado Obrigatório!</span> 
				<span ng-show="frmCliente.txtEst.$error.minlength">Estado inválido!</span> 
				<span ng-show="frmCliente.txtEst.$error.maxlength">Estado inválido!</span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
			 	<i class="material-icons prefix">view_list</i>
			 	<input id="icon_view_list" class="validate" type="text" name="numCep" ng-minlength="8" ng-maxlength="8" ng-model="cliente.endereco.cep" required /> 
				<label for="icon_view_list">Cep</label> 
				<span ng-show="frmCliente.numCep.$error.required && frmCliente.numCep.$dirty">Cep Obrigatório!</span> 
				<span ng-show="frmCliente.numCep.$error.minlength">Cep pequeno!</span> 
				<span ng-show="frmCliente.numCep.$error.maxlength">Cep grande! </span>
			</div>
			<div class="input-field col s6">
			 	<i class="material-icons prefix">perm_identity</i>
			 	<input id="icon_perm_identity" class="validate" type="text" name="txtLogin" ng-minlength="6" ng-maxlength="10" ng-model="cliente.usuario.login" required />
				<label for="icon_perm_identity">Login</label> 
				<span ng-show="frmCliente.txtLogin.$error.required && frmCliente.txtLogin.$dirty">Login Obrigatorio</span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
			 	<i class="material-icons prefix">lock_outline</i>
			 	<input id="icon_lock_outline" class="validate" type="password" name="passSenha" ng-minlength="8" ng-maxlength="20" ng-model="cliente.usuario.senha" required />
				<label for="icon_lock_outline">Senha</label> 
				<span ng-show="frmCliente.passSenha.$error.required && frmCliente.passSenha.$dirty">Senha Obrigatória!</span> 
				<span ng-show="frmCliente.passSenha.$error.minlength">Senha pequena!</span>
				<span ng-show="frmCliente.passSenha.$error.maxlength">Senha Grande!</span>
			</div>
		
		
<!-- 		<label>Perfil:</label>  -->
<!-- 			<select ng-model="cliente.perfil.id" ng-controller="perfilController"> -->
<!-- 				<option  ng-repeat="e in perfis" ng-value="e.id"> {{e.descricao}}</option> -->
<!-- 			</select> -->
 		
 		 <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="salvarCliente()">Salvar
   		 <i class="material-icons right">send</i> </button>
   		 <button class="btn waves-effect waves-light" type="cancel" name="action" ng-click="cancelar()" ng-disabled= "frmCliente.$invalid" >Limpar
   		 <i class="material-icons right">cancel</i> </button>
   		 
<!-- 			<input type="button" value="Salvar"  ng-click="salvarCliente()"  /> -->
<!-- 			<input type="button" value="Limpar"  ng-click="cancelar()" ng-disabled= "frmCliente.$invalid" /> -->
	</div>
	
		<div class="row">
			<h4>Clientes Cadastrados</h4>
			<div class="col s4  offset-s4" style="border:1px solid #EAEAEA">
				
				<div ng-repeat="cli in clientes" style="border:0px">
					
					<ul class="collection" >
					<li class="collection-item "><div> {{cli.id + '-'+ cli.nome}}  <a href="#!" class="secondary-content"  ng-click="excluirCliente(cli.idAtend)"><i class="material-icons">delete</i></a> <a href="#!" class="secondary-content"  ng-click="prepararAlterar(cli)"><i class="material-icons">edit</i></a></div></li>
					</ul>
<!-- 						<div class="center-btn"> -->
						
<!-- 						<a class="waves-effect waves-light "  type="delete" name="action" ng-click="excluirCliente(cli)"><i class="material-icons right">delete</i>Apagar</a> -->
<!-- 						<a class="waves-effect waves-light" type="edit" name="action" ng-click="prepararAlterar(cli)"><i class="material-icons right">edit</i>Alterar</a> -->
<!-- 					<button class="btn waves-effect waves-light" type="delete" name="action" ng-click="excluirCliente(cli)">Excluir -->
<!-- 		   		 	<i class="material-icons right">delete</i> </button>  <button class="btn waves-effect waves-light" type="edit" name="action" ng-click="prepararAlterar(cli)">Alterar -->
<!-- 		   		 	<i class="material-icons right">edit</i> </button>  -->
<!-- 				 	<a href="clientes/{{cli.id}}">Detalhes dos Clientes</a> -->
			
			</div>
		</div>
	</div>


	</form>



</div>