<div class="container">
	<div class="row">
			<h4>Pedidos Cadastrados</h4>
			<div class="section col s4  offset-s4">

				<div ng-repeat="ped in pedidos">

					<ul class="collection">
						<li class="collection-item ">
							<div ng-show="ped.pessoa.tipoDePessoa=='fisica'">
								{{ped.id + '-'+ ped.pessoa.nome +'-' + ped.data +'-' + ped.status}} 
							
								<a href="#!" class="secondary-content" ng-click="mostrarPedido(ped)">
								<i class="material-icons">reorder</i>
								</a> 
								<a href="#!" class="secondary-content"
									ng-click="editarStatus()"> <i class="material-icons">edit</i>
								</a>
									
							</div>
							<div ng-show="ped.pessoa.tipoDePessoa=='juridica'">
								{{ped.id + '-'+ ped.pessoa.razaoSocial +'-' + ped.data +'-' + ped.status}}
								<a href="#!" class="secondary-content" ng-click="mostrarPedido(ped)">
								<i class="material-icons">reorder</i>
								</a> 
								<a href="#!" class="secondary-content"
									ng-click="editarStatus()"> <i class="material-icons">edit</i>
								</a>							
							</div>
							<div ng-show="status">
							<input ng-model="ped.status" />
								<button class="btn waves-effect waves-light" type="submit" ng-click="alterarPedido(ped)" name="action">Salvar
   		 						<i class="material-icons right">send</i> </button>
							</div>
							</li>
					</ul>
				</div>
			</div>
		</div>


</div>