<div class="container">
	<div class="row">
			<h4>Pedidos Cadastrados</h4>
			<div class="section col s4  offset-s4">

				<div ng-repeat="ped in pedidos">

					<ul class="collection">
						<li class="collection-item "><div>
								{{ped.id + '-'+ ped.pessoa.nome +'-' + ped.data}} <a href="#!"
									class="secondary-content" ng-click="excluirPedido(ped.id)">
									<i class="material-icons">delete</i>
								</a> <a href="#!" class="secondary-content"
									ng-click="preparaAlterar(ped)"> <i class="material-icons">edit</i></a>
									
							</div></li>
					</ul>
				</div>
			</div>
		</div>


</div>