<input type="file" file-model="myFile"/>
<button ng-click="uploadFile()">upload me</button>

<div class="row">
    <h4>Imagens Cadastradas</h4>
    <div class="section col s4  offset-s4">

        <div ng-repeat="img in imagens">

            <ul class="collection">
                <li class="collection-item ">
                    <div>
                        {{img.id + '-'+ img.fileName}}
                        <img ng-src="data:image/JPEG;base64,{{img.file}}" width="50"/>

                        <!--<img ng-src="produtos/{{img.fileName}}" width="50"/>-->
                       <a href="#!"
                           class="secondary-content" ng-click="excluirImagem(img.id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>