<head>
<meta charset="UTF-8"/>

</head>

<div class="row">
	<form class= "col s12" novalidate name="frmUsuario">
		<div class="row">
			 	<div class="input-field col s4 offset-s4">
			 		<i class="material-icons prefix">perm_identity</i>
			 		<input id="icon_perm_identity" type="text" name="txtLogin" ng-minlength="6" ng-maxlength="10" ng-model="usuario.login" required />
					<label for="icon_perm_identity">Login</label> 
					<span ng-show="frmUsuario.txtLogin.$error.required && frmUsuario.txtLogin.$dirty">Login
					Obrigatorio!</span>
					<span ng-show="frmUsuario.txtLogin.$error.minlength">Login
					pequeno!</span>
					<span ng-show="frmUsuario.txtLogin.$error.maxlength">Login
					muito grande!</span>
				</div>
				<div class="input-field col s4 offset-s4">
					<i class="material-icons prefix">lock_outline</i>
					<input id="icon_lock_outline" type="password" name="passSenha"
					ng-minlength="8" ng-maxlength="20" ng-model="usuario.senha" required />
					<label for="icon_lock_outline">Senha</label> 
					<span ng-show="frmUsuario.passSenha.$error.required && frmUsuario.passSenha.$dirty">Senha
					Obrigatória</span>
					<span ng-show="frmUsuario.passSenha.$error.minlength">Senha pequena!</span>
					<span ng-show="frmUsuario.passSenha.$error.maxlength">Senha muito grande!</span>
				</div>
		</div>	
			<div class="row">
				<div class="section col s4 offset-s4">
				<div input-field>	
					
			  			<select ng-model= "usuario.perfil.id" ng-controller="perfilController" material-select watch> 
			    			<option value="" disabled selected>Perfil</option>
			    			<option ng-repeat="e in perfis" ng-value="e.id"> {{e.descricao}}</option>
			    			
		    			</select> 
		    			
					
					</div>
				</div>
			</div>	
	<!-- <select data-ng-model="usuario.perfil.id" data-ng-options="p as p.descricao for p in perfis"></select> --> 
		<!--   <select ng-model="usuario.perfil.id" ng-options="p.id as p.descricao for p in perfils"></select> -->
		<div class="row">
           <div class="input-field col s12">
				<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="salvarUsuario()">Salvar
   		 		<i class="material-icons right">send</i> </button>
   		 	<button class="btn waves-effect waves-light" type="clear" name="action" ng-click="cancelar()" ng-disabled= "frmUsuario.$invalid" >Limpar
   		 <i class="material-icons right">clear</i> </button>
		</div>
	</div>	
		
<!-- 		<input type="button" value="Salvar"  ng-click="salvarUsuario()"  /> -->
<!-- 		<input type="button" value="Limpar"  ng-click="cancelar()" ng-disabled= "frmUsuario.$invalid" /> -->
		
	<div class="row">
		<h4>Usuários Cadastrados</h4>
			<div class="col s4  offset-s4" >
				
				<div ng-repeat="usu in usuarios" >
					
					<ul class="collection" >
					<li class="collection-item "><div> {{usu.id + '-'+ usu.login}} <a href="#!" class="secondary-content"  ng-click="excluirUsuario(usu.id)"><i class="material-icons">delete</i></a> <a href="#!" class="secondary-content"  ng-click="preparaAlterar(usu)"><i class="material-icons">edit</i></a></div></li>
					</ul>
				</div>
			</div>
	</div>
	</form>



</div>

